.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 2rem;

  h2 {
    color: hsl(var(--primary-color));
    font-size: 1.2rem;
    margin-bottom: 2rem;
    margin-top: 0;
  }

  .alert {
    width: 100%;
  }
}

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 3rem;
  text-align: center;

  p {
    margin-bottom: 0;
  }
}

.terms {
  font-size: .8rem;
  margin-top: 1rem;
  padding: 1rem 2rem 0;
  text-align: center;
}