.root {
  padding: 1rem;

  &.modal {
    padding: 0 0 2rem 0;
  }
}

.container {
  border-radius: 0;
  max-width: $width-max;
  margin: 1rem auto;
  position: relative;
  padding: 2rem;

  .infoBar {
    margin: 0 -2rem;
  }

  .usage {
    padding: 2rem 0;
  }
}

.modalTitle {
  align-items: center;
  background-color: hsl(var(--white));
  border-bottom: 1px solid hsl(var(--medium-grey));
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 5;
}

.modalActions {
  display: flex;
  flex-wrap: nowrap;
}

.iconName {
  align-items: center;
  display: flex;

  h1 {
    display: inline-block;
    font-size: 2rem;
    margin: 0;

    &:hover {
      color: hsl(var(--primary-color));
      cursor: pointer;
    }
  }
}

.infoBar {
  align-items: center;
  background-color: hsl(var(--light-grey));
  border-bottom: 1px solid hsl(var(--medium-grey));
  border-top: 1px solid hsl(var(--medium-grey));
  display: flex;
  justify-content: space-between;
  margin-top: -1px;
  padding: .5rem 2rem;

  a {
    text-decoration: none;
  }

  .info {
    & > a {
      margin-right: .5rem;
    }
  }

  .actions {
    color: black;

    & > div, & > button {
      margin: 0 .25rem;
    }
  }
}

.usage {
  align-items: center;
  display: flex;
  padding: 1rem;
  justify-content: space-around;
}

.tags {
  display: flex;
  justify-content: center;
  padding: .25rem;

  .categories, .aliases {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    & > div, & > a {
      margin: .25rem;
    }
  }

  a {
    text-decoration: none;
  }
}

@media only screen and (max-width: $mobile-width) {
  .root {
    padding: 0;

    &.modal {
      .iconName {
        justify-content: center;
        padding-bottom: 0;
      }
    }

    .iconName {
      justify-content: initial;
      padding-bottom: 1rem;
    }
  }

  .modalTitle {
    align-items: initial;
    flex-direction: column-reverse;
  }

  .modalActions {
    justify-content: flex-end;
    padding-bottom: 1rem;
  }

  .iconName {
    justify-content: center;

    .iconPreview {
      display: none;
    }

    h1 {
      font-size: 3.5vh;
      margin: 0;
    }
  }
}

@media only screen and (max-width: $tablet-width) {
  .infoBar {
    flex-direction: column;
    padding: 1rem;
  
    .actions {
      padding-top: .5rem;
  
      & > div, & > button {
        margin: 0;
      }
    }
  }

  .usage {
    flex-direction: column;
  }

  .tags {
    display: block;
  }
}
