node_modules
/api/dist/
/client/dist/
/client/.next/
/client/public/sw.js*
/client/public/workbox-*.js*
/client/public/images/next-image-export-optimizer-hashes.json
nextImageExportOptimizer
.DS_Store
*.pem
*.log*
.env
*.tsbuildinfo
next-env.d.ts
