/node_modules
/.next/
/out/
/public/sw.js*
/public/workbox-*.js*
nextImageExportOptimizer
/public/images/next-image-export-optimizer-hashes.json
/build/
.DS_Store
*.pem
*.log*
.env
*.tsbuildinfo
next-env.d.ts
