// Measurements
$dp-width: 10px;
$mobile-width: 768px;
$tablet-width: 910px;
$width-max: 1400px;

:export {
  dp-width: $dp-width;
  mobile-width: $mobile-width;
  tablet-width: $tablet-width;
  width-max: $width-max;
}
