footer {
  border-top: 1px solid hsl(0, 0%, 69%);
  color: hsl(0, 0%, 29%);
  font-size: .9rem;
  padding: 2rem;
}

ul {
  align-items: center;
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

li {
  align-items: center;
  display: flex;
}

img {
  width: 62px;
}

a {
  color: hsl(0, 0%, 29%);
  transition: color .3s ease-in-out;
}

a:hover {
  color: hsl(var(--primary-color));
}

.connect-text {
  font-weight: 600;
  padding-right: 1rem;
}

.connect a {
  background-color: rgba(255, 255, 255, .4);
  border-radius: 50px;
  color: hsl(0, 0%, 44%);
  display: inline-block;
  margin: .5rem;
  padding: .5rem .5rem 0;
  transition: box-shadow .3s ease-in-out, color .3s ease-in-out;
}

.connect a:hover {
  color: hsl(var(--primary-color));
  box-shadow: 0 3px 8px rgba(0, 0, 0, .5);
}

@media only screen and (max-width: 950px) {
  ul {
    flex-direction: column;
  }

  .copyright {
    flex-direction: column;
    margin-bottom: .5rem;
  }

  a {
    padding: .5rem 0;
  }

  .connect-text {
    display: none;
  }

  .connect {
    padding-top: .5rem;
  }
}