.root {
  align-items: center;
  background-color: hsl(var(--secondary-color));
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-height: 100px;
  max-width: $width-max;
  padding: 1.5rem;
}

.options {
  display: flex;
  flex: 1;
  flex-wrap: nowrap;

  & > a {
    white-space: nowrap;
  }
}

.auth {
  margin-left: 1rem;
}

.logo {
  align-items: center;
  border: none;
  border-radius: 10px;
  display: flex;
  margin-right: 1rem;
  padding: 0 .25rem;

  .wordmark {
    display: none;
  }

  .monogram {
    width: 35px;

    [id='keycap-top'] {
      transform: translate(0, -2px);
      transition: transform .1s;
    }
  }

  &:hover {
    .monogram {
      [id='keycap-top'] {
        transform: translate(0, 10px);
      }
    }
  }
}

.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;

  a {
    text-decoration: none;
  }
}

.main {
  display: flex;
  flex: 1;
}

.secondary {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.hamburger {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: none;
  height: 2.75rem;
  margin: 0;
  outline: 0;
  width: 2.75rem;

  svg {
    fill: hsl(var(--primary-color));

    path {
      opacity: 1;
      transition: transform .3s ease-in-out, opacity .2s ease-in-out;
    }

    [id='line-1'] {
      transform-origin: .4rem .5rem;
    }

    [id='line-3'] {
      transform-origin: .3rem 1rem;
    }

    &.active {
      [id='line-1'] {
        transform: rotate(45deg);
      }

      [id='line-2'] {
        opacity: 0;
      }

      [id='line-3'] {
        transform: rotate(-45deg);
      }
    }
  }
}

@media only screen and (max-width: ($mobile-width + 150)) {
  .about,
  .contribute {
    display: none;
  }
}

@media only screen and (max-width: ($mobile-width + 50)) {
  .root {
    justify-content: center;
  }

  .logo {
    margin: 0;

    .wordmark {
      display: block;
      margin: 2px 0 0 -8px;
      width: 140px;
    }
  }

  .main {
    flex: 2;
  }

  .auth {
    margin-right: .5rem;
  }

  .hamburger {
    display: block;
    min-width: 2.75rem;

    &.open {
      background-color: hsl(var(--white));
      border-radius: 5px 5px 0 0;
      box-shadow: var(--box-shadow);
    }
  }

  .options {
    background-color: hsl(var(--white));
    border-radius: 5px 0 5px 5px;
    box-shadow: var(--box-shadow);
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 999;

    a {
      padding: 1rem 0;

      &:not(:last-child) {
        border-bottom: 1px solid hsl(var(--light-grey));
      }
    }

    > * {
      border-radius: 0 !important;
      padding: .5rem 0;
    }

    &.open {
      display: flex;
    }
  }

  .about,
  .contribute {
    display: flex;
  }
}
