.root {
  display: flex;
  justify-content: center;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem 2rem;
  max-width: $width-max;
  padding: .25rem 1.5rem 1rem;
  position: relative;
  text-align: center;

  h1 {
    margin-top: -1rem;
  }
}
