.root {
  padding: 0 1rem;
}

.container {
  display: flex;
  max-width: $width-max;
  margin: 1rem auto;
  position: relative;

  aside {
    background-color: hsl(var(--light-grey));
    border-radius: 0 4px 4px 0;
  }
}

.sidenav {
  padding: 2rem 1.5rem;
  position: sticky;
  max-width: 275px;
  min-width: 243px;
  top: 0px;
}

.improvehead {
  font-size: .8rem;
  text-transform: uppercase;
}

.edits {
  a {
    display: block;
    margin: .5rem 0;
    justify-content: left;
    text-decoration: none;
  }
}

.breadcrumb {
  font-size: .9rem;
}

.main {
  flex: 1;
  margin-top: 1rem;
  min-width: 0;
  word-wrap: break-word;
  padding: 1rem 2rem;

  h1 {
    font-size: 2rem;
    margin-top: 0;
  }

  .content {
    h1 {
      margin: initial;
    }
  }

  pre {
    > div {
      border-radius: 5px;
    }
  }

  table {
    tr {
      &:nth-child(1) {
        td {
          border-top: 1px solid hsl(var(--dark-cyan));

          &:first-child {
            border-radius: .25rem 0 0 0;
          }

          &:last-child {
            border-radius: 0 .25rem 0 0;
          }
        }

        th {
          border: 0;
          font-weight: 700;
        }
      }

      &:nth-child(even) {
        background: hsl(var(--black) / 5%);
      }

      &:last-child {
        td {
          border-bottom: 1px solid hsl(var(--dark-cyan));

          &:first-child {
            border-radius: 0 0 0 .25rem;
          }

          &:last-child {
            border-radius: 0 0 .25rem 0;
          }
        }
      }

      td {
        &:first-child {
          border-left: 1px solid hsl(var(--dark-cyan));
        }

        &:last-child {
          border-right: 1px solid hsl(var(--dark-cyan));
        }

        &:nth-child(even) {
          background: hsl(var(--black) / 5%);
        }
      }
    }
  }

  blockquote {
    background-color: hsl(var(--light-grey));
    border-radius: 5px;
    border: 1px solid hsl(var(--grey));
    margin: 0;
    padding: .1rem 1rem .1rem 2rem;
  }
}

@media only screen and (max-width: $tablet-width) {
  .container {
    display: block;

    aside {
      border-radius: 0 0 4px 4px;
    }
  }

  .sidenav {
    max-width: 100%;
    padding: 2rem;
  }

  .improvehead {
    margin-top: 0;
  }

  .edits {
    padding: 0;
  }
}

@media only screen and (max-width: $mobile-width) {
  .root {
    padding: 0;

    .container {
      border-radius: 0;
    }
  }
}