.main {
  section {
    &:nth-child(even) {
      background: linear-gradient(0turn, hsl(var(--bg-card-color)), hsl(var(--bg-color)));
    }
  }
}

.users {
  display: flex;
  flex-direction: column;

  p {
    margin: 3rem auto 0;
    max-width: 800px;
    padding: 0 1rem;
    text-align: center;
  }

  .logos {
    align-items: center;
    display: grid;
    grid-gap: 3rem 5rem;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-items: center;
    max-width: 1080px;
    width: 100%;

    svg {
      max-width: 80%;
    }
  }
}

.about {
  h2 {
    text-align: center;
  }

  p {
    font-size: 1.2rem;
    padding: 2rem 0;
    text-align: center;
  }

  .contributors {
    flex-wrap: wrap-reverse;
    justify-content: center;
    padding: 1rem 1rem 0;

    .contributor {
      background-color: hsl(var(--primary-color));
      border: 2px solid hsl(var(--primary-color));
      height: 65px;
      margin-left: -.75rem;
      width: 65px;
    }
  }
}

.libraries {
  align-items: center;
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-content: space-between;
  margin: 3rem auto;
  max-width: 1080px;

  @media only screen and (max-width: $mobile-width) {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
}

.join {
  display: flex;

  p {
    font-size: 1.2rem;
  }

  svg {
    max-height: 18rem;
  }
}

@media only screen and (max-width: $mobile-width) {
  .users {
    flex-direction: column-reverse;
    margin-top: -3rem;

    br {
      display: none;
    }

    p {
      margin: 4rem auto;
    }

    .logos {
      grid-row-gap: 3rem;

      img {
        padding: 0 2rem;
      }
    }
  }

  .join {
    flex-direction: column-reverse;

    p {
      margin-top: 0;
      text-align: center;
    }
  }

  .crowd {
    height: 10rem !important;
    margin: 0 auto;
    width: 10rem !important;
  }
}
