@import '../../styles/variables.scss';

.root {
  padding: 0 1rem;

  &.modal {
    padding: 0;
  }
}

.container {
  max-width: $width-max;
  margin: 1rem auto;
  position: relative;
}

.breadcrumb {
  font-size: .9rem;
}

.modalTitle {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;

  @media only screen and (max-width: $mobile-width) {
    align-items: initial;
    flex-direction: column-reverse;
  }
}

.modalActions {
  padding-right: 1rem;
  display: flex;
  flex-wrap: nowrap;

  @media only screen and (max-width: $mobile-width) {
    justify-content: flex-end;
    padding-top: 1rem;
  }
}

.iconName {
  align-items: center;
  display: flex;
  padding: 1rem 1.5rem;

  h1 {
    display: inline-block;
    font-size: 2rem;
    margin: 0 0 0 1rem;

    &:hover {
      color: hsl(var(--primary-color));
      cursor: pointer;
    }
  }

  @media only screen and (max-width: $mobile-width) {
    justify-content: center;

    svg {
      display: none;
    }

    h1 {
      font-size: 3.5vh;
      margin: 0;
    }
  }
}

.infoBar {
  align-items: center;
  background-color: hsl(var(--light-grey));
  border-bottom: 1px solid hsl(var(--medium-grey));
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: space-between;
  padding: .5rem;

  .actions {
    color: black;
  }
}
