.root {
  padding: 0 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: $width-max;
  position: relative;
}

.heading {
  backdrop-filter: blur(10px);
  background-color: hsl(var(--light-cyan) / 70%);
  border-bottom: 1px solid hsl(var(--cyan));
  border-radius: 5px 5px 0 0;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

.libraryInfo {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;

  a {
    text-decoration: none;
  }
}

.controls {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.searchBox {
  background-color: hsl(var(--white));
}

.mobileControls {
  margin-top: 1rem;

  strong {
    font-size: .9rem;
  }
}

.iconLibrary {
  display: flex;
  min-height: 50vh;

  .libraryContainer {
    flex: 1;
    margin: 1rem;
  }

  .noResults {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem 0;

    svg {
      color: hsl(var(--grey));
    }
  }
}

.sidebar {
  background-color: hsl(var(--light-grey) / 30%);
  flex: 1;
  max-width: 210px;
  padding: 1rem;
}

.infoGrid {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;

  .infoAlert {
    flex: 1;

    &.hide {
      display: none;
    }
  }
}

.library {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(6, 1fr);

  p {
    font-size: .9rem;
    font-weight: 500;
  }

  &.compact {
    grid-template-columns: repeat(9, 1fr);

    p {
      font-size: .8rem;
    }
  }

  &.list {
    grid-template-columns: repeat(5, 1fr);

    .libraryIcon {
      flex-direction: row;
      height: 50px;
      justify-content: flex-start;

      svg {
        flex: 1;
      }

      p {
        flex: 3;
        margin: 0 0 0 .5rem;
        text-align: left;
      }
    }
  }

  @media only screen and (max-width: ($tablet-width + 500)) {
    grid-template-columns: repeat(5, 1fr);

    &.compact {
      grid-template-columns: repeat(8, 1fr);
    }

    &.list {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @media only screen and (max-width: ($tablet-width + 300)) {
    grid-template-columns: repeat(4, 1fr);

    &.compact {
      grid-template-columns: repeat(6, 1fr);
    }

    &.list {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media only screen and (max-width: $tablet-width) {
    grid-template-columns: repeat(3, 1fr);

    &.compact {
      grid-template-columns: repeat(4, 1fr);
    }

    &.list {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media only screen and (max-width: $mobile-width) {
    grid-template-columns: repeat(2, 1fr);

    &.compact {
      grid-template-columns: repeat(3, 1fr);
    }

    &.list {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.libraryIcon {
  align-items: center;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-size: 80%;
  height: 130px;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s ease-in-out;

  &:hover {
    background-color: hsl(var(--light-cyan));
  }

  &:focus {
    background-color: hsl(var(--light-cyan));
    outline: 1px solid hsl(var(--cyan));
  }

  svg {
    flex: 2;
  }

  p {
    flex: 1;
    inline-size: 80%;
    margin: 0;
    overflow-wrap: break-word;
  }
}

.loader {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 0;
  width: 100%;
}

@media only screen and (max-width: $mobile-width) {
  .root {
    padding: 0;
  }

  .heading {
    border-radius: 0;
  }

  .controls {
    justify-content: space-between;
  }
}

@media only screen and (max-width: $tablet-width) {
  .sidebar {
    display: none;
  }
}
