.root {
  padding: 0 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: $width-max;
  position: relative;
}

.heading {
  backdrop-filter: blur(10px);
  background-color: hsl(var(--light-cyan) / 70%);
  border-bottom: 1px solid hsl(var(--cyan));
  border-radius: 5px 5px 0 0;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

.libraryInfo {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;

  a {
    text-decoration: none;
  }
}

.controls {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.searchBox {
  background-color: hsl(var(--white));
}

.mobileControls {
  margin-top: 1rem;

  strong {
    font-size: .9rem;
  }
}

.iconLibrary {
  display: flex;
  min-height: 50vh;

  .libraryContainer {
    flex: 1;
    margin: 1rem;
  }

  .noResults {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem 0;

    svg {
      color: hsl(var(--grey));
    }
  }
}

.sidebar {
  background-color: hsl(var(--light-grey) / 30%);
  flex: 1;
  max-width: 225px;
  padding: 1rem 0;

  svg {
    margin: 0 .5rem 0 .25rem;
  }

  .subheader {
    background: transparent;
    margin: 1rem 0 0 .25rem;
    text-transform: uppercase;
  }
}

.infoGrid {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  min-height: 102px;

  .infoAlert {
    flex: 1;

    &.hide {
      display: none;
    }
  }
}

.loader {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 0;
  width: 100%;
}

@media only screen and (max-width: $tablet-width) {
  .sidebar {
    display: none;
  }
}

@media only screen and (max-width: $mobile-width) {
  .root {
    padding: 0;
  }

  .heading {
    border-radius: 0;
  }

  .controls {
    justify-content: space-between;
  }

  .iconLibrary {
    .libraryContainer {
      margin-top: 0;
    }
  }

  .infoGrid {
    min-height: 0;
  }

  .infoAlert {
    margin-top: 1rem;
  }
}
