@import '../../../styles/variables.scss';

.box {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;

  .badge {
    background-color: hsl(var(--cyan));
    border-radius: 0 0 0 5px;
    color: hsl(var(--black));
    position: absolute;
    right: 19px;
    top: 7px;
  }
}

.core {
  border-top: 5px solid hsl(var(--cyan));
}

.content {
  display: flex;
  align-items: center;
  padding: 1rem 1rem .5rem;

  h2, p {
    margin: 0;
  }

  h2 {
    font-size: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  p {
    font-size: .9rem;
  }
}

.info {
  flex: 1;
  min-width: 0;
}

.links {
  display: flex;
  justify-content: flex-end;
  padding: 0 1rem;
}

.sponsor {
  &:hover {
    color: hsl(305, 100%, 40%);
  }
}

.contributors {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: ($tablet-width + 200)) {
  .contributors {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: $mobile-width) {
  .contributors {
    grid-template-columns: 1fr;
  }
}