.root {
  align-items: center;
  background: url('../../assets/hero-grid.svg') repeat-x;
  background-position: bottom;
  background-size: 1500px;
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: space-between;
  text-align: center;
}

.full {
  height: calc(100vh - 120px);
}

.text {
  font-size: clamp(1rem, 1.75vw, 1.5rem);
  line-height: 1.2;
  margin: 0 8rem;
  max-width: 1080px;
  padding-top: 2rem;
}

.heading {
  font-size: clamp(1rem, 6vw, 5rem);
  letter-spacing: -3px;
}

@media only screen and (max-width: $mobile-width) {
  section:not(.full) {
    background-position: 0 2rem;
  }

  .text {
    font-size: 2vh;
    margin: 0 2rem;
  }

  .heading {
    font-size: 5vh;
    letter-spacing: -1px;
  }
}
