.root {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-image: linear-gradient(hsl(var(--light-grey) / 50%) 0.125rem, transparent 0.125rem), linear-gradient(to right, hsl(var(--light-grey) / 50%) 0.125rem, transparent 0.125rem);
  background-size: 1.5rem 1.5rem;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    content: '';
    inline-size: 100%;
    block-size: 100%;
    background-image: linear-gradient(hsl(var(--secondary-color) / 100%) 20%, transparent);
  }
}

.full {
  height: calc(100vh - 120px);
}

.text {
  z-index: 1;
  font-size: clamp(1rem, 1.75vw, 1.5rem);
  line-height: 1.2;
  margin: 0 8rem;
  max-width: 1080px;
  padding-top: 2rem;
}

.heading {
  font-size: clamp(1rem, 6vw, 5rem);
  letter-spacing: -3px;
}

@media ($mobile-width >= width) {
  section {
    &:not(.full) {
      background-position: 0 2rem;
    }
  }

  .text {
    font-size: 2vh;
    margin: 0 2rem;
  }

  .heading {
    font-size: 5vh;
    letter-spacing: -1px;
  }
}
