.root {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.icon {
  background-image: repeating-conic-gradient(hsl(var(--light-grey)) 0% 25%, transparent 0% 50%);
  background-size: calc($dp-width * 2) calc($dp-width * 2);
  margin: 1rem 1rem 0;
  outline: 5px solid hsl(var(--light-cyan));
  position: relative;

  svg {
    color: hsl(var(--black));
    position: relative;
    z-index: 1;
  }

  &.editing {
    background-image: repeating-conic-gradient(hsl(var(--medium-grey)) 0% 25%, transparent 0% 50%);
  }
}

.customize {
  align-items: center;
  background-color: hsl(var(--light-cyan) / 50%);
  border: 0;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  outline: 5px solid hsl(var(--light-cyan)/ 50%);
  padding: .5rem 1rem;

  svg {
    margin-left: .5rem;
  }
}
