.tableOfContents {
  padding: 1rem 0;
}

.tochead {
  border-bottom: 1px solid hsl(var(--medium-grey));
  font-size: .9rem;
  letter-spacing: 1px;
  margin-bottom: 0;
  padding: 0 .5rem;
  text-transform: uppercase;
}

.toc {
  background-color: hsl(var(--white) / 50%);
  border-radius: 0 0 5px 5px;
  max-height: 50vh;
  overflow-y: auto;

  .lvl-1 {
    display: none;
  }

  @for $i from 3 through 6 {
    .lvl-#{$i} {
      font-size: .95rem;
      padding-left: #{$i - 2.25}rem;
    }
  }
}

@media only screen and (max-width: $tablet-width) {
  .tochead {
    margin-top: 0;
  }

  .tableOfContents {
    display: none;
  }
}
