.root {
  align-items: center;
  background-image: linear-gradient(hsl(var(--light-grey) / 50%) .125rem, transparent .125rem), linear-gradient(to right, hsl(var(--light-grey) / 50%) .125rem, transparent .125rem);
  background-size: 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  text-align: center;

  &::before {
    background-image: linear-gradient(hsl(var(--secondary-color) / 100%) 20%, transparent);
    block-size: 100%;
    content: '';
    inline-size: 100%;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 0;
  }
}

.full {
  min-height: calc(100vh - 90px);
}

.text {
  font-size: clamp(1rem, 1.75vw, 1.5rem);
  line-height: 1.2;
  margin: 0 8rem;
  max-width: 1080px;
  padding-top: 2rem;
  z-index: 1;
}

.heading {
  font-size: clamp(1rem, 6vw, 5rem);
  letter-spacing: -3px;
}

@media only screen and (max-width: $mobile-width) {
  section {
    &:not(.full) {
      background-position: 0 2rem;
    }
  }

  .text {
    font-size: 2vh;
    margin: 0 2rem;
  }

  .heading {
    font-size: 5vh;
    letter-spacing: -1px;
  }
}
