section {
  background-color: hsl(var(--primary-color));
  color: white;
  padding: 4rem 0 6rem;
  position: relative;
}

section::before {
  content: '';
  height: 100px;
  background-color: hsl(var(--primary-color));
  width: 100%;
  position: absolute;
  clip-path: ellipse(75% 100% at 50% 100%);
  margin-top: -100px;
}

section::after {
  content: '';
  height: 100px;
  background-color: hsl(var(--primary-color));
  width: 100%;
  position: absolute;
  clip-path: ellipse(75% 100% at 50% 0%);
  bottom: -50px;
}

section h2 {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: -2px;
  margin: 0 auto 3rem;
  max-width: 1080px;
  padding: 0 2rem;
}

.libraries {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 3rem;
  justify-items: center;
  max-width: 1080px;
  margin: 1rem auto;
}

pg-library-card {
  height: 100%;
}

@media only screen and (max-width: 800px) {
  section::before {
    clip-path: ellipse(100% 100% at 50% 100%);
  }

  section::after {
    clip-path: ellipse(100% 100% at 50% 0%);
  }

  section h2 {
    text-align: center;
  }
}