@import '../../styles/variables.scss';

.heading {
  display: flex;
  align-items: center;

  a {
    margin: .25rem 0 0 .5rem;
    opacity: .5;
    transition: opacity .2s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}

.inlineCode {
  border-radius: 5px;
  display: inline;
  padding: .1rem .2rem !important;
}

.darkButton {
  &:hover {
    color: hsl(var(--white));
  }
}

.alert {
  margin: 1rem 0;

  p {
    margin: 0;
  }
}

.tableOfContents {
  padding-bottom: 2rem;
}

.tochead {
  font-size: .8rem;
  text-transform: uppercase;
}

.toc {
  max-height: 50vh;
  overflow-y: auto;

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    &.lvl-1 {
      display: none;
    }

    @for $i from 3 through 6 {
      &.lvl-#{$i} {
        font-size: .95rem;
        padding-left: #{$i - 2}rem;
      }
    }
  }

  a {
    &:hover {
      color: hsl(var(--primary-color));
    }
  }
}

@media only screen and (max-width: $tablet-width) {
  .tochead {
    margin-top: 0;
  }

  .tableOfContents {
    display: none;
  }
}