.root {
  padding: 0 1rem;
}

.container {
  display: flex;
  margin: 0 auto;
  max-width: $width-max;
  position: relative;

  aside {
    background-color: hsl(var(--light-grey));
    border-radius: 0 4px 4px 0;
  }
}

.sidenav {
  padding: 2rem 1.5rem;
  position: sticky;
  top: 0;
  width: calc(315px + 3rem);
}

.improvehead {
  font-size: .9rem;
  letter-spacing: 1px;
  margin-top: 1rem;
  padding: 0 .5rem .5rem;
  text-transform: uppercase;
}

.edits {
  a {
    display: block;
    justify-content: left;
    margin: .5rem 0;
    text-decoration: none;
  }
}

.breadcrumb {
  font-size: .9rem;
}

.main {
  flex: 1;
  margin-top: 1rem;
  min-width: 0;
  padding: 1rem 2rem;
  position: relative;
  word-wrap: break-word;

  .articleIcon {
    opacity: .2;
    position: absolute;
    right: 1rem;
    top: 0;
  }

  h1 {
    font-size: 2rem;
    margin-right: 4.75rem;
    margin-top: 0;
  }

  .content {
    h1 {
      margin: initial;
    }
  }

  pre {
    > div {
      border-radius: 5px;
    }
  }

  table {
    tr {
      &:nth-child(1) {
        td {
          border-top: 1px solid hsl(var(--dark-cyan));

          &:first-child {
            border-radius: .25rem 0 0;
          }

          &:last-child {
            border-radius: 0 .25rem 0 0;
          }
        }

        th {
          border: 0;
          font-weight: 700;
        }
      }

      &:nth-child(even) {
        background: hsl(var(--black) / 5%);
      }

      &:last-child {
        td {
          border-bottom: 1px solid hsl(var(--dark-cyan));

          &:first-child {
            border-radius: 0 0 0 .25rem;
          }

          &:last-child {
            border-radius: 0 0 .25rem;
          }
        }
      }

      td {
        &:first-child {
          border-left: 1px solid hsl(var(--dark-cyan));
        }

        &:last-child {
          border-right: 1px solid hsl(var(--dark-cyan));
        }

        &:nth-child(even) {
          background: hsl(var(--black) / 5%);
        }
      }
    }
  }

  blockquote {
    background-color: hsl(var(--light-grey));
    border: 1px solid hsl(var(--grey));
    border-radius: 5px;
    margin: 0;
    padding: .1rem 1rem .1rem 2rem;
  }
}

@media only screen and (max-width: $tablet-width) {
  .container {
    display: block;
    padding-top: 1rem;

    aside {
      border-radius: 0 0 4px 4px;
    }
  }

  .main {
    margin-top: 0;

    h1 {
      margin-right: 0;
    }
  }

  .sidenav {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem 0;
    text-align: center;
    width: 100%;
  }

  .improvehead {
    display: none;
  }

  .edits {
    padding: 1rem;
    width: 100%;
  }

  .articleIcon {
    display: none;
  }
}

@media only screen and (max-width: $mobile-width) {
  .root {
    padding: 0;

    .container {
      border-radius: 0;
    }
  }

  .sidenav {
    padding: 0;
  }
}
