.root {
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  margin-inline-end: auto;
  margin-inline-start: auto;
  padding: 2rem;
  text-align: center;
  transform: scale(1);

  &:hover {
    background-color: hsl(var(--white) / 12%);
    box-shadow: var(--box-shadow);

    .content {
      .image {
        transform: scale(.9);
      }
    }
  }

  h3 {
    font-size: 1.8rem;
    letter-spacing: -2px;
    margin: 2rem 0 .5rem;
    text-align: left;
  }

  p {
    margin-bottom: 1rem;
    text-align: left;
  }

  a {
    text-decoration: none;
  }

  @media only screen and (max-width: $mobile-width) {
    background-color: hsl(var(--white)/12%);
    box-shadow: var(--box-shadow);
  }
}

.content {
  .image {
    position: relative;
    transition: all .2s linear;
    width: 100%;
  }

  img {
    height: unset !important;
    max-width: 14.0625rem;
    object-fit: contain;
    position: relative !important;
    width: 100% !important;
  }
}
