.root {
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 2rem;
  text-align: center;

  h3 {
    font-size: 1.8rem;
    letter-spacing: -2px;
    margin: 2rem 0 .5rem;
    text-align: center;
  }

  p {
    margin-bottom: 2rem;
    text-align: left;
  }

  a {
    text-decoration: none;
  }

  @media only screen and (max-width: $mobile-width) {
    padding: 2rem 0;
  }
}

.content {
  .image {
    position: relative;
    width: 100%;
  }

  img {
    height: unset !important;
    max-width: 225px;
    object-fit: contain;
    position: relative !important;
    width: 100% !important;
  }
}
