.root {
  margin-inline-start: auto;
  margin-inline-end: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 2rem;
  text-align: center;
  border-radius: 1.25rem;
  transform: scale(1);
  transition: all 0.2s linear;

  &:hover {
    background-color: hsl(var(--white) / 12%);
    box-shadow: var(--box-shadow);

    .content {
      .image {
        transform: scale(0.9);
      }
    }
  }

  h3 {
    margin: 2rem 0 .5rem;
    letter-spacing: -0.125rem;
    text-align: left;
    font-size: 1.8rem;
  }

  p {
    margin-bottom: 1rem;
    text-align: left;
  }

  a {
    text-decoration: none;
  }
}

.content {
  .image {
    position: relative;
    width: 100%;
    transition: all 0.25s linear;
  }

  img {
    position: relative !important;
    width: 100% !important;
    max-width: 14.0625rem;
    height: unset !important;
    object-fit: contain;
  }
}