ErrorDocument 404 /404.html
ErrorDocument 403 /403/index.html

RewriteEngine on
RewriteBase /

# Handle GitHub Previews
RewriteCond %{HTTP_USER_AGENT} github-camo
RewriteCond %{HTTP_ACCEPT} image\/webp
RewriteRule library\/(.*)\/icon\/(.*)$ https://dev.materialdesignicons.com/api/preview/$1/$2

# Site Redirects
RewriteRule ^logout(/?) https://api.pictogrammers.com/auth/logout?redirect=true [R]
RewriteRule ^library(/?)$ https://pictogrammers.com/libraries/ [R]
RewriteRule ^library/(.*)/(author|category|icon|version)(/?)$ https://pictogrammers.com/library/$1 [R]

# Serve brotli version if they exist
RewriteCond %{HTTP:Accept-encoding} br
RewriteCond %{REQUEST_FILENAME}.br -f
RewriteRule ^(.*)$ $1.br [QSA,L]

<Files *.html.br>
  AddType "text/html" .br
  AddEncoding br .br
  SetEnv no-gzip 1
</Files>

<Files *.css.br>
  AddType "text/css" .br
  AddEncoding br .br
  SetEnv no-gzip 1
</Files>

<Files *.js.br>
  AddType "text/javascript" .br
  AddEncoding br .br
  SetEnv no-gzip 1
</Files>

<Files *.json.br>
  AddType "application.json" .br
  AddEncoding br .br
  SetEnv no-gzip 1
</Files>

<Files *.svg.br>
  AddType "image/svg+xml" .br
  AddEncoding br .br
  SetEnv no-gzip 1
</Files>
