.library {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

  p {
    font-size: .8rem;
    font-weight: 500;
  }

  &.comfortable {
    grid-template-columns: repeat(auto-fill, minmax(105px, 1fr));

    p {
      font-size: .75rem;
    }
  }

  &.compact {
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));

    .libraryIcon {
      height: 60px;

      p {
        display: none;
      }
    }
  }
}

.libraryIcon {
  align-items: center;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-size: 80%;
  height: 130px;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s ease-in-out;

  &:hover {
    background-color: hsl(var(--light-cyan));
  }

  &:focus {
    background-color: hsl(var(--light-cyan));
    outline: 1px solid hsl(var(--cyan));
  }

  svg {
    flex: 2;
  }

  p {
    flex: 1;
    inline-size: 80%;
    margin: 0;
    overflow-wrap: break-word;
  }

  &.deprecated {
    background-color: hsl(var(--red) / 5%);
    outline: 1px solid hsl(var(--red) / 10%);

    &:hover {
      background-color: hsl(var(--red) / 10%);
      outline: 1px solid hsl(var(--red) / 15%);
    }

    &:focus {
      background-color: hsl(var(--red) / 15%);
      outline: 1px solid hsl(var(--red) / 20%);
    }
  }
}
