@mixin defaults {
  --white: 0deg 0% 100%;
  --black: 0deg 0% 0%;
  --purple: 289deg 100% 20%;
  --light-cyan: 194deg 64% 92%;
  --cyan: 194deg 64% 75%;
  --dark-cyan: 194deg 64% 41%;
  --light-grey: 0deg 0% 94%;
  --medium-grey: 0deg 0% 84%;
  --grey: 0deg 0% 56%;
  --dark-grey: 0deg 0% 20%;

  --primary-color: var(--purple);
  --secondary-color: var(--cyan);

  // Library colors
  --mdi-color: 207deg 90% 54%;
  --mdil-color: 207deg 34% 52%;
  --memory-color: var(--purple);
  --jun-color: var(--cyan);

  // Documentation type colors
  --general-color: 27deg 70% 62%;
  --getting-started-color: 162deg 100% 37%;
  --contribute-color: 255deg 100% 67%;
  --guides-color: 206deg 100% 50%;
  --releases-color: 0deg 100% 61%;

  // Width of 1dp in pixels
  --dp-width: 10px;
}

@mixin theme-light {
  @include defaults;

  --link-color: var(--dark-grey);
  --link-hover-color: var(--cyan);
  --box-shadow:
    0 1px 1px hsl(var(--black) / 12%),
    0 2px 2px hsl(var(--black) / 12%),
    0 4px 4px hsl(var(--black) / 12%),
    0 8px 8px hsl(var(--black) / 12%),
    0 16px 16px hsl(var(--black) / 12%);
}

:export {
  /* stylelint-disable color-no-hex */
  primary-color: #530066;
  secondary-color: #258dad;
}
