@mixin defaults {
  --primary-font: 'Manrope', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

  --white: 0deg 0% 100%;
  --black: 0deg 0% 0%;
  --purple: 289deg 100% 20%;
  --cyan: 194deg 64% 75%;
  --dark-cyan: 194deg 65% 41%;
  --light-grey: 0deg 0% 94%;
  --dark-grey: 0deg 0% 20%;

  --primary-color: var(--purple);
  --secondary-color: var(--cyan);

  --info-back: 197deg 53% 12%;
  --info-text: 197deg 89% 85%;
  --info-icon: 197deg 92% 56%;
  --warning-back: 36deg 56% 17%;
  --warning-text: 36deg 100% 86%;
  --warning-icon: 36deg 100% 57%;
  --error-back: 0deg 34% 16%;
  --error-text: 0deg 67% 87%;
  --error-icon: 0deg 90% 58%;
  --success-back: 122deg 22% 20%;
  --success-text: 122deg 38% 85%;
  --success-icon: 122deg 38% 57%;
}

@mixin theme-light {
  @include defaults;

  --link-color: var(--dark-grey);
  --link-hover-color: var(--cyan);
  --box-shadow: 0 1px 1px hsl(var(--black) / 12%), 0 2px 2px hsl(var(--black) / 12%), 0 4px 4px hsl(var(--black) / 12%), 0 8px 8px hsl(var(--black) / 12%), 0 16px 16px hsl(var(--black) / 12%);
}

:export {
  primary-font: var(--primary-font);
  primary-color: #530066;
  secondary-color: #258dad;
}
