.root {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 2rem;
  width: 100%;
}

.interface {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
  user-select: none;
  width: 100%;
}

.preview {
  margin-bottom: 4rem;
  margin-top: .9rem;
}

.customize {
  max-width: 600px;
  padding: 1rem;
  width: 100%;
}

.colors {
  column-gap: 2rem;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.corners {
  p {
    align-items: center;
    display: flex;

    svg {
      color: hsl(var(--dark-grey) / 50%);
      cursor: help;
      margin-left: .25rem;
    }
  }
}

.sliderGroup {
  column-gap: 2rem;
  display: flex;

  & > div {
    flex: 1;
  }

  p {
    margin: .5rem 0;
  }
}

.flipControls {
  column-gap: 2rem;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.controls {
  align-items: center;
  display: flex;
  gap: 1.5rem;
  margin-right: 1rem;

  & > span {
    flex: 1;
  }

  & > div {
    width: 3rem;
  }
}

@media only screen and (max-width: $tablet-width) {
  .interface {
    flex-direction: column;
  }

  .preview {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: $mobile-width) {
  .colors,
  .sliderGroup,
  .flipControls {
    flex-direction: column;
  }

  .colors,
  .flipControls {
    align-items: center;
    row-gap: 1rem;
  }
}
