name: Build & Deploy API
on:
  push:
    branches:
      - main
    paths:
      - 'api/**'
      - 'interfaces/**'
  workflow_dispatch:
jobs:
  build:
    name: Build API
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci --workspace=api --include-workspace-root

      - name: Run ESLint
        run: npm run lint:api

      - name: Build API
        run: npm run build --workspace=api

      - name: Prune dev dependencies
        run: npm prune --omit=dev

      - name: Move node_modules
        run: mv node_modules/ api/node_modules
      
      - name: Create Deployment Tarball
        uses: a7ul/tar-action@v1.1.0
        with:
          command: c
          cwd: ./api
          files: |
            ./dist
            ./package.json
            ./node_modules
          outPath: pictogrammers-api-${{ github.run_id }}.tar.gz

      - name: Upload Tarball Artifact
        uses: actions/upload-artifact@v3
        with:
          name: pictogrammers-api-${{ github.run_id }}
          path: pictogrammers-api-${{ github.run_id }}.tar.gz

  deploy:
    needs: build
    name: Deploy API
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Download Tarball Artifact
        uses: actions/download-artifact@v3
        with:
          name: pictogrammers-api-${{ github.run_id }}

      - name: Deploy Tarball to Server
        uses: trendyminds/github-actions-rsync@master
        with:
          RSYNC_OPTIONS: -avzr --delete
          RSYNC_TARGET: /opt/${{ secrets.SSH_USER }}/temp
          RSYNC_SOURCE: /pictogrammers-api-${{ github.run_id }}.tar.gz
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          SSH_USERNAME: ${{ secrets.SSH_USER }}
          SSH_HOSTNAME: ${{ secrets.SSH_HOST }}

      - name: Expand Tarball
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          password: ${{ secrets.PASSWORD }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            tar -zxf /opt/${{ secrets.SSH_USER }}/temp/pictogrammers-api-${{ github.run_id }}.tar.gz -C /opt/${{ secrets.SSH_USER }}/pictogrammers-api --recursive-unlink
            rm /opt/${{ secrets.SSH_USER }}/temp/pictogrammers-api-${{ github.run_id }}.tar.gz
      